body{
  display: flex;
  flex-direction: column;
  background-color: black;
  align-content: center;
  width: 100%;
  margin: 0;
  padding: 0;
  justify-content: space-between;
}

img{
  position: absolute;
  z-index: -1;
  height: 100%;
  width: 100%;

}

header .header{
  position: sticky;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 20px;
  z-index: 1;
  height: 10%;
}
header .header h1{
  color: #8A0000;
  text-shadow: 1px 1px black;
  font-weight: bold;
  font-style: italic;
}
header .nav{

}
header .header.change{
  display: none;

}
.line_1, .line_2, .line_3 {
  width: 35px;
  height: 5px;
  background-color: #980000;
  margin: 6.2px 0;
}
.menu_box{
  display: none;
  position: absolute;
  height: auto;
  width: 100%;
  margin: 0px;
  background-color: white;
}

.menu_box.change{
  display: block;
  height: 40%;
  z-index: 2;
  opacity: 0.9;
}
.nav_row{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 100%;

}
.column_1, .column_2, .column_3{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.hem, .nyheter, .boende, .karta, .bad, .service, .aktiviteter, .om_oss, .filmer{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  width: 120px;
  border: 3px solid black;
}
a ,.hem, .nyheter, .boende, .karta, .bad, .service, .aktiviteter, .om_oss, .filmer{
  font-size: 25px;
  margin: 0px;
}
.close{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 40px;
  top: 40px;
  width: 40px;
  height: 40px;
  z-index: 2;
}
.box{
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  height: 100%;
  width: 100%;
}
.close :hover{
  cursor: pointer;
}

.line_l{
  position: absolute;
  width: 30px;
  height: 5px;
  background-color: black;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.line_r{
  position: absolute;
  width: 30px;
  height: 5px;
  background-color: black;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.nav :hover{
  cursor: pointer;
}

.navbar{
  position: sticky;
  opacity: 0.5;
  background-color: white;
  position: absolute;
  width: 100%;
  height: 10%;

}
.navbar.change{
  display:none;
}

.vl{
  position: relative;
  top: 10%;
  height: 80%;
  border-left: 1px solid black;
}


.info{
  width: 100%;
  position: absolute;
  top: 15%;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1 2 auto;
}

.info.change{
  position: absolute;
  top: 45%;
}

.panel_1{
  display: flex;
  width: 65%;
  border: 2px solid black;
  background-color: white;
}
.facts_p1{
  position: relative;
  width: 80%;
  left: 10%;
}
